{{ include("MPGsbBundle:Accueil:accueil.html.twig") }}

<h1> Liste des Medicaments</h1>


<a href="{{ path ('Form', { 'action' : 'ajouter' , 'id' : 0 }) }}">Ajouter un Médicament</a>
<table class="table">
<thead>
	<tr>
	<th>Depot Legal</th>
	<th>Nom Commercial</th>
	<th>Composition</th>
	<th>Effet</td>
	<th>Contre Indication</th>
	<th>Prix</th>
	<th>Action</th>
	</tr>
</thead>
	{% for medoc in listMedocs %}
	<tr class="success">
<td>{{ medoc.id }}</td>
<td>{{ medoc.nomCommercial }}</td>
<td>{{ medoc.composition }}</td>
<td>{{ medoc.effet }}</td>
<td>{{ medoc.ContreIndic }}</td>
<td>{{ medoc.prixEchantillon }}</td>
<td><a href="{{ path('Form', { 'action' : 'modifier', 'id' : medoc.id }) }}">Modifier</a><br>
<a href="{{ path('Supprimer', {'id' : medoc.id }) }}">Supprimer</a></td>
</tr>
{% endfor %}
</table>
